.Header{
    min-height: 80px;
    background: aquamarine;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Header a{
    text-decoration: none;
    color: navy;
    font-size: 20px;
}

.Header a[class='active']{
    color: purple;
    font-size: 30px;
}